on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    #export LIGHTSENSOR_PATH /sys/class/i2c-adapter/i2c-1/1-0044
    #export VPU_FW_PATH /system/lib/firmware/vpu
    #export CODEC_SHM_PATH /mnt/shm
    #export GST_PLUGIN_PATH /system/lib/gst_plugins
    #export CORE_REGISTER_FILE /system/etc/core_register
    #export COMPONENT_REGISTER_FILE /system/etc/component_register
    #export CONTENTPIPE_REGISTER_FILE /system/etc/contentpipe_register

    # shared memory used by middleware
    mkdir /mnt/shm  0775 system graphics
    mount tmpfs tmpfs /mnt/shm mode=0775,uid=1000,gid=1003,size=1m

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /storage/sdcard 0000 system system

    export EXTERNAL_STORAGE /storage/sdcard

    # Support legacy paths
    symlink /storage/sdcard /sdcard
    symlink /storage/sdcard /mnt/sdcard

on fs

mount_all /fstab.freescalemx53bej2board

# mount ext4 partitions
# If you want to boot it from SD card, modify all the 'mmcblk0px' to 'mmcblk1px'.
#    mount ext4 /dev/block/mmcblk1p2 /system
#    mount ext4 /dev/block/mmcblk1p2 /system ro remount
#    mount ext4 /dev/block/mmcblk1p5 /data nosuid nodev nodiratime noatime noauto_da_alloc journal_checksum
#    mount ext4 /dev/block/mmcblk1p6 /cache nosuid nodev
#    mount ext4 /dev/block/mmcblk1p7 /factory nosuid nodev
#    mount fat /dev/block/mmcblk1p7 /sdcard

on post-fs
    # Same reason as /data above
    chown system system /factory
    chmod 0770 /factory

    mkdir /data/system 0775 system system
    mkdir /data/system/wpa_supplicant 0771 wifi wifi
    chmod 0771 /data/system/wpa_supplicant

    mkdir /factory/lost+found 0770

    chown root root /factory/lost+found
    chmod 0770 /factory/lost+found

on boot

# Default backlight device
    setprop hw.backlight.dev "pwm-backlight.0"

    write /proc/sys/vm/lowmem_reserve_ratio 1

# Chmod/chown FSL specific sys entry
    chown system system /sys/class/backlight/pwm-backlight.0/brightness
    chmod 0660 /sys/class/backlight/pwm-backlight.0/brightness

    chown system system /sys/class/leds/LED_GPIO10/brightness
    chmod 0660 /sys/class/leds/LED_GPIO10/brightness
    chown system system /sys/class/leds/LED_GPIO10/flash_on
    chmod 0660 /sys/class/leds/LED_GPIO10/flash_on

# Set property for FSL specific feature 
# Init second display connection state
    setprop rw.SECOND_DISPLAY_CONNECTED 0
      
# Define gst player property
    setprop media.gstreamer.enable-player 0

# Comment the usage of stageflight media framework
    setprop  media.stagefright.enable-scan 0
    setprop  media.stagefright.enable-player 0
    setprop  media.stagefright.enable-record 1 
    setprop  media.stagefright.enable-http 0
    setprop  media.stagefright.enable-meta 0
    setprop  media.stagefright.enable-vpuenc 1 

# Define fsl avi/aac/asf/mkv/flv/flac format support
    setprop ro.FSL_AVI_PARSER 1
    setprop ro.FSL_AAC_PARSER 1
    setprop ro.FSL_ASF_PARSER 0
    setprop ro.FSL_FLV_PARSER 1
    setprop ro.FSL_MKV_PARSER 1
    setprop ro.FSL_FLAC_PARSER 1
    setprop ro.FSL_MPG2_PARSER 1

# Define fsl display init mode
    setprop ro.FSL_LANDSCAPE_MODE 1

# Define fsl xec mode
    setprop xec.dls.enabled 1
    setprop xec.aa.enabled 1
    setprop xec.dls.rate 0
    setprop xec.aa.rate 100

# Define UI to TVOUT,change this setting to 1 and uncomment below write commands
    setprop ro.UI_TVOUT_DISPLAY 0
    #write /sys/class/graphics/fb0/blank 1
    #write /sys/class/graphics/fb1/blank 1
    #write /sys/class/graphics/fb2/blank 1
    #write /sys/class/graphics/fb0/fsl_disp_property 1-layer-fb
    #write /sys/class/graphics/fb1/mode U:720x480i-60\n
    #write /sys/class/graphics/fb1/blank 0

# ALSA mixer naming define
    setprop alsa.mixer.playback.master Playback
    setprop alsa.mixer.capture.master Capture
    setprop alsa.mixer.playback.speaker Playback
    setprop alsa.mixer.playback.headset Headphone
    setprop alsa.mixer.capture.headset Capture

# Prepare for wifi
    setprop wifi.interface wlan0
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

# Prepare for bluetooth
    chmod 665 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    write /sys/class/rfkill/rfkill0/state 0

# Enable USB host1'remote wakeup event wakeup android system
    write /sys/bus/platform/drivers/fsl-ehci/fsl-ehci.1/power/wakeup enabled

# Install Wifi driver
    insmod /system/wifi/mlan.ko
    insmod /system/wifi/sd8787.ko

# Install narc driver
    insmod /system/etc/filtering/narcpi.ko

# Prepare for RIL
    setprop gsm.ril.delay 15
    setprop ro.ril.wake_lock_timeout 300

    write /proc/sys/kernel/modules_disabled 1

    # Set permission for IIM node
    symlink /dev/mxc_iim /dev/mxc_mem

    # 3D acceleration property
    setprop debug.sf.showfps    0
    setprop debug.sf.enable_hgl 1
    setprop debug.egl.hw	1

    # fsl omx graphic manager media framework property
    setprop media.omxgm.enable-player 1
    setprop media.omxgm.enable-record 1
    setprop media.omxgm.enable-scan 1

    # set video render type
    setprop rw.VIDEO_RENDER_NAME video_render.overlay

    #Define the config for dual camera
    #For landscape mode, orient is 0
    #For portrait mode, orient is 90
    #the android before honycomb are all in portrait mode
    setprop back_camera_orient 0

#shutter sound mute setting
    setprop ro.camera.sound.forced 0

    # Set OpenGLES version
    setprop ro.opengles.version 131072

    # Disable UI output for second display during video playback
    setprop rw.secfb.disable-overlay  0

    # Enable auto configuration with 1, disable with 0
    setprop rw.AUTO_CONFIG_DISPLAY  0

    # Set rotation to 270 to cofigure as portrait mode
    setprop ro.sf.hwrotation 0

    # hdmi audio output
    setprop ro.HDMI_AUDIO_OUTPUT 0

    # Video output choices for dual display
    # Video on secondary display
    setprop rw.SIN_VIDEO_DUAL_UI 1
    # UI on primary display
    #(seconday display no more than 720P for imx53)
    setprop rw.DUAL_VIDEO_SIN_UI 0

    # over scan percent control
    setprop sys.overscan.percent 0

    #control logcat
    setprop persist.logd.logpersistd logcatd

